<header>

  <!-- <nav class="navbar bg-primary navbar-expand-md text-dark"> -->
  <nav class="navbar navbar-expand-md ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img src="assets/images/spaMenu.jpg" alt="Home Icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/home">Home</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

</header>

<main>
  <router-outlet></router-outlet>
</main>