<p>details works!</p>
<table>
<tr><td>Course ID</td><td>{{course.id}}</td></tr>
<tr><td> Department</td><td>{{course.dept}}</td></tr>
<tr><td>Number</td><td>{{course.courseNum}}</td></tr>
<tr><td>Name</td><td>{{course.courseName}}</td></tr>
<tr><td>Instructor</td><td>{{course.instructor}}</td></tr>
<tr><td>Start Date</td><td>{{course.startDate}}</td></tr>
<tr><td>Length in Days</td><td>{{course.numDays}}</td></tr>
</table>
