<p>courselist works!</p>
<div class="row">
    <div class="ml-2 mb-2 p-2">
        <h1 class="px-5">Courses</h1>
        <!-- <div class="row"> -->

        <table class="mx-5">
            <tr class="border" *ngFor="let course of wCourses">
                <td class="border p-2">{{course.courseNum}}</td>
                <td class="border p-2">{{course.courseName}}</td>
                <td class="border p-2">
                    <span (click)="viewDetails(course.id.toString())">Click Here</span>
                </td>

            </tr>
        </table>

        <!-- </div> -->
    </div>
</div>